{% extends "base.html"%}
{% block head %}
    <title>Sign In</title>
    <link href="../static/styles/signin-style.css" rel="stylesheet">
{% endblock %}

{% block userbutton %}
    <a class="cta" href="{{url_for('register')}}">Register</a>
{% endblock %}

{% block body %}
<div class="page-content">
    <form action="/signin" method="post">
        <div class="form-header">Sign In</div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="username" value="{{ username }}">
            {% if signinerror %}
            <div class="error-msg">{{ signinerror }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="userpassword" value="{{ password }}">
            {% if passworderror %}
            <div class="error-msg">{{ passworderror }}</div>
            {% endif %}
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}
