* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #24252a;
  
}

.logo {
  cursor: pointer;
  text-decoration: none;
  font-size: 25px;
  color:white;
  font-weight: 500;
  font-family: 'IBM Plex Mono', monospace;
  
  
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;

}

.nav__links {
  list-style: none;
  display: flex;
  

}

.nav__links li {
  padding: 0px 20px;
  margin-top: 6.5%;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}  

.cta {
  padding: 9px 25px;
  background-color: rgb(59, 243, 102);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(14, 201, 248, 0.8);
}



.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #26f0f0;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}


.styled-button{
    text-decoration: none;
    background-color: #f9f9f9;
    color: #000000;
    font-size: 1rem;
    height: 2rem;
    width: 6rem;
    border-radius: 10px;
    border: 0px;
    padding-top: 3px;
}

.footer-container {
  font-size: 0.9em;
  font-weight: normal;
  min-height: 3.35vh;
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2% 0 2%;
}

.form-header{
  text-align:center;
  font-size: 30px;
  margin-bottom: 5px;
  position: relative;
  bottom:10px;
  
  
}

.page-content {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3%;
  padding: 3%;
  max-height: 80vh;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out; 
}

.page-content:hover {
  background-color: rgba(255,255,255 ,0.6); 
  
}


.error-msg {
  color: red;
  font-size: 0.75em;
  animation: shake 0.3s ease-in-out; 
}
.success-msg{
  color: rgb(120, 247, 103);
  font-size: 0.75em;
  animation: zoomIn 0.3s ease-in-out; 
}



@keyframes zoomIn {
  from {
      opacity: 0;
      transform: scale(0);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-5px); 
  }
  50% {
    transform: translateX(5px);
  }
}
